<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  
</head>
<body onload="dowork();" >


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-6 ">
          <a class="navbar-brand" href="/">🦂</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <div class="postclick" onclick="show_user_menu()">             
                <img   src='data:image/png;base64,{{current_user.rendered_data}}'style="border-radius: 50%;"width="32"height="32"  class="rounded-circle me-2 rounded mx-auto d-block " alt="">
              </div>
            </li>
            <li class="nav-item">
              <div class="postclick" onclick="show_user_menu()"style="margin-top:1%; height:100%;" >
              <strong>{{current_user.username}} </strong>
              </div>
            </li>
            
          </ul>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                <form method="post">
                    <input type="search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style="margin: right 10px;">Search</button>
                </form>
          </div>
        </nav>
        <div style="margin-left: 40px;" id="user_menu" class="dissapear">
          <ul class="list-group sort_list" >
            <li class="list-group-item link_click" onclick="location.href='/logout'">log out</li>
            
            <li class="list-group-item link_click"onclick="location.href='/profile/{{current_user.username}}'">edit profile</li>
            <li class="list-group-item link_click"onclick="location.href='/post'" >New Post</li>

          </ul>
        </div>

        <div class="container-fluid justify-content-center">
          <div class="container-fluid justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-6 "style="padding:-14.5rem;align-items-center; ">
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto" style="margin-left: 40%;">
                    <li class="nav-item">
                      <form method="post"id="get_post">
                        <input type="hidden"  name="post">
                        <a class="navbar-brand link_click" onclick="submit_form('get_post')">Post</a>
                    </form> 
                    </li>
    
                    <li class="nav-item">
                      <form method="post"id="get_users">
                        <input type="hidden"  name="users">
                        <a class="navbar-brand link_click" onclick="submit_form('get_users')">Users</a>
                    </form> 
                    </li>
    
                    <li class="nav-item">
                      <form method="post"id="get_comment">
                          <input type="hidden"  name="comment">
                          <a class="navbar-brand link_click" onclick="submit_form('get_comment')">Comments</a>
                      </form> 
                  </li>
                  </ul>
                </div>
              </nav>
          </div>

          <div class="post_container">
            {%for item in post%}

            <div class="card bg-dark text-white" style="margin-top: 10px;">
              {% if post|length %}
              <div class="container-fluid d-flex justify-content-start">
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-6 "><img   src='data:image/png;base64,{{Author[loop.index0].rendered_data}}'style="border-radius: 50%;"width="32"height="32"  class="rounded-circle me-2 rounded mx-auto d-block " alt="">
                  <strong>{{Author[loop.index0].username}} </strong>
                </nav>
                </div>
                {%endif%}

                <div class="postclick" onclick="location.href='/comment/{{item.id}}'">

              {%if item.rendered_data!=0%}
                <img   src='data:image/png;base64,{{ item.rendered_data }}'style="width:auto;"  class="rounded mx-auto d-block img-fluid" alt="">
                    {%if item.type=="video"%}
                    <div class="h-100 d-flex align-items-center justify-content-center">
                    <video style="border-radius: 1%;" width="400"alt=""src='data:image/png;base64,{{ item.rendered_data }}' controls>

                    </video>
                  </div>

                    {%endif%}
              {%endif%}
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.note}}</p>
                </div>   

                </div>
                <div>
                    {%if item.id in User_liked_id%}
                    <button value="{{item.id}}" class="like" type="button"style="color: black;">
                    ❤️: {{item.num_likes}}	
                    </button>
                    {%else%}
                    <button value="{{item.id}}"class="" style="color: black;">
                      🖤: {{item.num_likes}}	
                    </button>
                    {%endif%}
                  </div>  
              </div>
          {%endfor%}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        </div>



          <div style="padding-left: 5%;padding-right: 5%;">
            {%for item in result_comment%}
            <div class="card bg-dark text-white" style="width: 100%;">
                    {% if result_comment|length %}
                    <div class="container-fluid d-flex justify-content-start">

                          <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-6 ">
                            <div class="postclick" onclick="location.href='/profile/{{Author[loop.index0].username}}'">

                                <img   src='data:image/png;base64,{{Author[loop.index0].rendered_data}}'style="border-radius: 50%;"width="32"height="32"  class="rounded-circle me-2 rounded mx-auto d-block " alt="">
                              </div>
                                <div class="postclick" onclick="location.href='/profile/{{Author[loop.index0].username}}'">
                                    <strong>{{Author[loop.index0].username}} </strong>
                          </nav>
                    </div>
                {%endif%}
                <div class="postclick" onclick="location.href='/comment/{{item.post_id}}'">

                <div class="card-body">
                    <p class="card-text">
                      {{item.date}}
                    </p>
                    <p class="card-text">{{item.comment}}</p>
                </div>   

                </div>
                <div>
                    {%if item.id in User_liked_id%}
                    <button value="{{item.id}}" class="like" type="button"style="color: black;">
                    ❤️: {{item.num_likes}}	
                    </button>
                    {%else%}
                    <button value="{{item.id}}"class="" style="color: black;">
                      🖤: {{item.num_likes}}	
                    </button>
                    {%endif%}
                  </div>  
              </div>
          {%endfor%}
          </div>

          <div style="padding-left: 5%;padding-right: 5%;">
            {%for item in result_user%}
            <div class="postclick" onclick="location.href='/profile/{{item.username}}'">

              <div class="card bg-dark text-white" style="width: 100%;">
                <div class="container-fluid d-flex justify-content-start">
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fs-6 "><img   src='data:image/png;base64,{{item.rendered_data}}'style="border-radius: 50%;"width="32"height="32"  class="rounded-circle me-2 rounded mx-auto d-block " alt="">
                  <strong>{{item.username}} </strong>
                </nav>
                </div>
                  </div>   
                </div>
            </div>  
          {%endfor%}
          </div>







<script>
$("button").click(function() {
          var like_button = $(this).val();
          var myClass = this.className;
          var a=this.innerText
          a=a.replace(/\D/g, "");
          g=parseInt(a)+1
          d=parseInt(a)-1
  if (this.className=="like"){
            this.innerText='❤️: '+d
          }
  if (this.className==""){
            this.innerText='❤️: '+g
          }
          
          
  $.ajax({
                  type: "POST",
                  url: "{{post.id}}",
                  data: {'like':like_button}
          });
          
                this.classList.toggle('like');    
          
              
            
          
}); 
</script>
          
<script>
  function submit_form(val)
    {
    document.getElementById(val).submit(); 
      }
  </script>

<script>
  function show_user_menu(){
    $("#user_menu").toggleClass("dissapear"); 
      }
  </script>
</body>