body {
  background: #212529;
  min-height: 100vh;
  ;
}
html {
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
}
.asd:hover
{
  color: rgb(74, 73, 73);
  z-index: 3;
  border-radius: 10%;
}
.card-image {
  width: 100%;
  height: 100%;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
align-content: center;
border-radius: 5px;
object-fit:contain;
width: auto;

}

.child{
transform: translate(20px,20px);
width: fit-content; 
height: fit-content;
background-color: rgb(201, 187, 182);
padding-left: 2px;  
background: transparent;


}


.like{
background-color: red;
}

.dissapear{
display: none;}
.postclick{
background-color: transparent;}
.postclick:hover{
background-color: rgb(39, 39, 39);
cursor:pointer;
}
video{
align-items: center;

}
.sort_button{
background-color: rgb(69, 67, 67);
width: fit-content;
border-radius: 2px;
align-items: center;
color: white;
}
.sort_button:hover{
opacity: 10%;
cursor:pointer;

}
.layout{
align-items: center;
}
.sort_list{
width: fit-content;
border-radius: 2px;
position: absolute;
z-index: 7;
}
.post_container{
max-width: 619px;
max-height: 100px;
margin-left: 30%;
}
.pf_pic{
height: 20px;
width: 90px;
}
.following{
  background-color: transparent;
}
.btn-dark{
background-color: #212529;
color:white;
}
.chat_container{
  max-width: 619px;
  height: auto;
  margin-left: 35%;
  flex-direction: column-reverse;
  }
.link_click{
  background-color: #212529;
  color: white;
}
  .link_click:hover{
    cursor:pointer;

  }