<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<head>

</head>
<body>


<a>
    container: {{container}} what
</a>
<form method="post" onsubmit="send(event)">
    <textarea name='c'class="form-control" id="user" rows="1" ></textarea>
    <input type="submit" value="submit" ></form>
<button onclick="dowork()">see users</button> 
<div id="refresh">
</div>
    
</body>


<script>
    var total=-1;
    function dowork(){
    fetch( '/names' )
    .then(response => response.json())
    .then(data=>display(data));
    
    
    }
    var div = document.getElementById("refresh");
    
    function display(data){
        console.log(total)
        console.log(data)
        if (total+1<data.length){
            for(var count=total+1; count<data.length;count++){
            card=document.createElement('div');
            cardTitle=document.createElement('p');
            cardTitle.innerText=(data[count].name);
            div.appendChild(card);
            card.appendChild(cardTitle);
            total=count;
        }

    }
        

        console.log(total)
        
}

</script>
<script>
   function send(event){
    event.preventDefault();
    var reply = document.getElementById("user").value;
    document.getElementById("user").value='';  
    $.ajax({
            type: "POST",
            url: "",
            data: {'user':reply},
            success: function(responseData, textStatus, jqXHR) {

            }
  })

   }

</script>